<div class="itinerario d-flex flex-row align-middle bd-highlight  justify-between">
    <h1 class="p-2 bd-highlight">Itinerario</h1>
    <a class="px-2 bd-highlight btn d-flex justify-center" (click)="openModal()"><mat-icon>add_circle_outline</mat-icon>  Nueva actividad</a>
</div>
<div class="d-flex activities gap-4" (drop)="backActivityToInitialDate($event)">
    <div class="p-6 card" *ngFor="let activityByDate of activitiesByDates" (drop)="moveDateToNextActivity($event, activityByDate)">
        <h1 class="px-14">{{activityByDate.startDate}}</h1>
        <div class="p-6 align-middle" *ngFor="let activity of activityByDate.activities">
            <div ngx-moveable [draggable]="true" class="align-middle" >
                <div class="py-2 px-2 align-middle item" (click)="onClick(activity)" (dragover)="moveActivityDate($event, activityByDate)" >{{activity.title}}</div>
            </div>
        </div>
    </div>
</div>

